config DYNAMIXEL
    bool "Enables the Dynamixel library"

    config DYNAMIXEL_MAX_NUM_SERVOS
    int "Maximum number of servos to be addressed at once"
    default 20

    config DYNAMIXEL_MAX_NUM_BYTES
    int "Maximum number of bytes written/read per servo"
    default 4

    choice
        prompt "Select protocol version to be used"
        config DYNAMIXEL_PROTOCOL_1
                tristate "DYNAMIXEL Protocol 1.0"
        config DYNAMIXEL_PROTOCOL_2
                tristate "DYNAMIXEL Protocol 2.0"
                select CRC
    endchoice

    module = DYNAMIXEL
    module-str = dxl
    source "subsys/logging/Kconfig.template.log_config"